* {
  margin: 0;
  padding: 0;
  background-color: #777;
}
.btn-cont{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
.timer{
    font-size: 4rem;
    padding-top: 15rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    padding-bottom: 1.5rem;
}
.text-box1 {
  display: flex;
}
.text-box2 {
    display: flex;
}
.text-box3 {
    display: flex;
}
.btn:link,
.btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 15px 40px;
  display: inline-block;
  border-radius: 100px;
  transition: all 0.2s;
}

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn-white {
  background-color: #2d4059;
  color: #eeeeee;
}

.btn::after {
  content: "";
  height: 100%;
  width: 100%;
  border-radius: 100px;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
}

.btn-white::after {
  background-color: #fff;
}

.btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

.btn-animated {
  animation: moveInBottom 5s ease-out;
  animation-fill-mode: backwards;
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
